<div class="card">
  <h5 class="card-header">{{ 'registerForm.title' | i18next }}</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="firstName"
            [title]="'registerForm.firstName' | i18next"
            [submitted]="submitted"
            [errors]="controls['firstName'].errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="lastName"
            [title]="'registerForm.lastName' | i18next"
            [submitted]="submitted"
            [errors]="controls['lastName'].errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="email"
            [title]="'registerForm.email' | i18next"
            [submitted]="submitted"
            [errors]="controls['email'].errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="password"
            type="password"
            [title]="'registerForm.password' | i18next"
            [submitted]="submitted"
            [errors]="controls['password'].errors"
          >
          </app-input>
        </div>
      </div>
      <div class="text-center">
        <button id="register" [disabled]="loading" class="btn mr-1 col">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'registerForm.submitButton' | i18next }}
        </button>
      </div>
      <div *ngIf="success" id="success" class="alert alert-success text-center" role="alert">
        {{ 'registerForm.submitSuccess' | i18next }}
      </div>
      <div *ngIf="error" id="error" class="alert alert-danger text-center" role="alert">
        {{ 'registerForm.submitError' | i18next }}
      </div>
    </form>
  </div>
</div>
